html { 
  background: url('./main.jpeg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Yantramanav', sans-serif;
  padding: 20px;  /* background-image: url('../img/pattern1.png'); */
  /* background-image: url('../img/AdobeStock_81190179.jpeg'); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  background-position: top;
}


.hartaki-3d-base {
  background-image: url("main.jpeg");
  padding: 10px;
  max-width: 800px;
  min-width: 300px;
  height: 100px;
  overflow: hidden;
  color: black;
  font-size: small;
  font-weight: 300;
  position: absolute;
  z-index: 9999;
  background-size: 420%;
  background-position: center;
  opacity: 0.8;
  box-shadow: 20px 20px 11px rgba(0, 100, 55, 0.3);
}
.client-logo img {
  width: 200px;
}
.client-box {
  background: white;
  position: absolute;
  opacity: 1;
  padding: 10px;
  font-size: medium;
}
.hartaki-3d-base a {
  font-weight: 900;
}
a {
  color: black;
}
.hartaki-3d-base a {
}
#project-audi-hidden {
  display: none;
}

#img-div img {
  width: 50%;
  margin-left: 23%;
  opacity: 1;
  position: absolute;
  z-index: -899999970;
}
